/* Generic styles */
/******************/

/* Apply defaults to all html elements */
* {
    box-sizing: border-box; /* Set box sizing to border-box */
    padding: 0; /* set padding to zero */
    margin: 0; /* set margin to zero  */
}

/* Body style */
body {
    background-color: #d9dcd6; /* apply colour to whole body */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Main font for whole document */
}
/* Link style */
a {
    color: #ffffff; /* set active link colour to white */
    text-decoration: none; /* remove any text-decoration from links */
}

/* Paragraph style */
p {
    font-size: 16px; /* Set font size */
}

/* Consolidate footer & header font  */
footer, 
header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Different font for header & footer */
}

/* Custom class for floating element to left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Custom class for floating element to right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Header styling  */
/*******************/

header {
    padding: 20px; /* Set padding to 20px applies to all sides*/
    background-color: #2a607c; /* Set background colour to blue */
    color: #ffffff; /* Set font colour to white */
}

header h1 {
    display: inline-block; /* Make h1 element inline-block */
    font-size: 48px; /* Set font size */
}

header h1 .seo {
    color: #d9dcd6; /* Set font colour to grey */
}

/* Navigation styling */

header nav {
    padding-top: 15px; /* Set top padding */
    margin-right: 20px; /* Set right margin */
    float: right; /* Float nav to right side */
    font-size: 20px; /* Set font size */
}

header nav ul {
    list-style-type: none; /* Remove the ul style type i.e. no bullet  */
}

header nav ul li {
    display: inline-block; /* Set li items to inline-block (removes breaks) */
    margin-left: 25px; /* set left margin */
}

/* Hero Banner */

section.hero {
    height: 800px; /* set height of hero section */
    width: 100%; /* make hero section fill width of page */
    margin-bottom: 25px; /* set margin bottom */
    background-image: url("../images/digital-marketing-meeting.jpg"); /* select background image for hero section */
    background-size: cover; /* scales the image to fill hero banner */
    background-position: center; /* position the background image to the center  */
}

/* Main content block */
/**********************/

main {
    width: 75%; /* sets the width of main */
    display: inline-block; /* make element display inline-block  */
    margin-left: 20px; /* set a left margin */
}

/* Article styles */
/******************/
article {
    background-color: #0072bb; /* sets background image to blue */
    margin-bottom: 20px; /* set bottom margin */
    padding: 50px; /* adds padding to all 4 sides */
    height: 300px; /* set fixed height for element */
    color: #ffffff; /* set font colour to white */
}

article img {
    max-height: 200px; /* set article image height */
}

article h2 {
    margin-bottom: 20px; /* set bottom margin */
    font-size: 36px; /* sets font size */
}

/* Aside styles */

aside {
    margin-right: 20px; /* adding a right margin */
    padding: 20px; /* adding padding all round  */
    clear: both; /* Clears float element */
    float: right; /* float side to right side of screen */
    width: 20%; /* sets width */
    height: 100%; /* set height of side to fill vertical space  */
    background-color: #2589bd; /* set article background colour */
}

aside section {
    margin-bottom: 32px; /* set a bottom margin */
    color: #ffffff; /* set font colour */
}

aside h3 {
    margin-bottom: 10px; /* sets a bottom margin */
    text-align: center; /* centers the text */
}

aside img {
    display: block; /* sets display mode of image to block */
    margin: 10px auto; /* sets botom & top margin, then centers the image */
    max-width: 150px; /* fixes the width so the image doesn't expand more than specified */
}

/* Footer syles */

footer {
    padding: 30px; /* setting all around padding */
    clear: both; /* clears surrounding floats so this element appears on the next line */
    text-align: center; /* centers the text */
}

footer h4 {
    font-size: 20px; /* sets font size */
}